<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/about.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.png" width="30" height="30"
                    class="d-inline-block align-top" alt=""> {{title}}
                <span class="text-small">Created by {{name}}</span>
            </a>
            <div class="navbar-brand">
                <a class="btn btn-outline-warning" href="/">Home</a>
                <a class="btn btn-outline-warning" href="/help">Help</a>

            </div>
        </div>
    </nav>
<div class="jumbotron text-center">
    <h6>Owner</h6>
    <h1>{{name}}</h1>
    <hr>
   <a href="//akchauhan2.com" class="btn btn-warning text-white">Visit</a>
</div>


</body>

</html>