<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/bootstrap-4.3.1-dist/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> {{title}}
                <span class="small text-secondary">Created by {{name}}</span>
            </a>
            <div class="navbar-brand">
                <a class="btn btn-outline-warning" href="/help">Help</a>
                <a class="btn btn-outline-warning" href="/about">About</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <form class="form" action="/weather" method="get">
                <div class="row">
                <div class="col-sm-6">
                <input class="form-control" name="address" placeholder="Search City Eg: NewYork">
                </div>
                <div class="col-sm-6">
                <input type="submit" class="btn btn-success" value="Search">
                </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/script.js"></script>
</body>

</html>